-ip==22.3.1
anyio==3.6.1
asgiref==3.6.0
backoff==2.1.2
beautifulsoup4==4.11.1
certifi==2022.9.14
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
contourpy==1.0.5
cssselect==1.1.0
cycler==0.11.0
decorator==5.1.1
Django==4.1.4
djangorestframework-simplejwt==5.2.2
djangorestframework==3.14.0
fonttools==4.37.3
greenlet==2.0.1
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.4
kiwisolver==1.4.4
loguru==0.6.0
lxml==4.9.1
matplotlib==3.6.0
mysql-connector-python==8.0.31
mysqlclient==2.1.1
numpy==1.23.3
packaging==21.3
pandas==1.5.2
parsel==1.6.0
Pillow==9.2.0
pip==23.1.2
PyJWT==2.7.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7
PyYAML==6.0
requests==2.28.1
response==0.5.0
rfc3986==1.5.0
scipy==1.9.1
scrapfly-sdk==0.8.2
selectorlib==0.16.0
setuptools==65.5.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.45
sqlparse==0.4.3
tzdata==2022.7
urllib3==1.26.12
w3lib==2.0.1
wheel==0.38.4
win32-setctime==1.1.0
